@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background: #f6e7d8;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* Evita scrollbars */
    font-family: 'Playfair Display', serif;
    /* Previene selección de texto accidental en móviles */
    user-select: none;
    -webkit-user-select: none;
}

canvas {
    display: block;
}

#message-container {
    position: absolute;
    z-index: 10;
    opacity: 0;
    color: #5d4037;
    /* Transición suave para cuando aparezca */
    transition: opacity 1s ease-in-out;
}

/* === ESTILO PARA PC (Pantallas grandes) === */
@media (min-width: 769px) {
    #message-container {
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        text-align: left;
        width: 40%;
    }

    #poem {
        font-size: 1.5vw;
        line-height: 1.6;
        margin-bottom: 30px;
    }

    #timer {
        font-size: 1.8vw;
        font-weight: bold;
        color: #c62828;
    }
}

/* === ESTILO PARA CELULARES (Pantallas pequeñas) === */
@media (max-width: 768px) {
    #message-container {
        top: 15%;
        /* Texto arriba para no tapar el tronco */
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        width: 90%;
        /* Fondo semitransparente opcional para legibilidad */
        text-shadow: 0px 0px 5px rgba(246, 231, 216, 0.8);
    }

    #poem {
        font-size: 1.1rem;
        margin-bottom: 20px;
    }

    #timer-label {
        font-size: 0.9rem;
    }

    #timer {
        font-size: 1.3rem;
        font-weight: bold;
        color: #c62828;
    }

    /* Ajuste para pantallas muy pequeñas */
    #timer span {
        display: inline-block;
        margin: 0 3px;
    }
}