@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background: #f6e7d8;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Playfair Display', serif;
    user-select: none;
    -webkit-user-select: none;
}

canvas {
    display: block;
}

/* === CONFIGURACIÓN ESTILO PC (SIEMPRE ACTIVA EN HORIZONTAL) === */
#message-container {
    position: absolute;
    top: 50%;
    left: 25%;
    /* SIEMPRE A LA IZQUIERDA */
    transform: translate(-50%, -50%);
    text-align: left;
    width: 45%;
    /* Un poco más ancho para que quepa en móviles horizontales */
    color: #5d4037;
    z-index: 10;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Tipografía responsiva usando 'vmin' para que se adapte al tamaño de pantalla */
#poem {
    font-size: 3.5vmin;
    /* Escala con la pantalla */
    line-height: 1.5;
    margin-bottom: 5vmin;
    font-style: italic;
}

#timer-label {
    font-size: 2.5vmin;
    opacity: 0.8;
}

#timer {
    font-size: 4vmin;
    font-weight: bold;
    color: #c62828;
}

/* === PANTALLA DE BLOQUEO (SOLO APARECE EN VERTICAL) === */
#rotate-warning {
    display: none;
    /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f6e7d8;
    z-index: 9999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #5d4037;
}

.icon {
    font-size: 50px;
    margin-bottom: 20px;
}

/* Si la pantalla es VERTICAL (Retrato), activamos el bloqueo */
@media screen and (orientation: portrait) {
    #rotate-warning {
        display: flex;
    }

    #canvas,
    #message-container {
        display: none;
    }

    /* Ocultamos el juego */
}
